
:root {
  --color-light-red: #E31C25;
  --color-dark-red: #BB000E;
  --color-white: #FFF;
  --color-black: #222;
}

.App {
  text-align: center;
  /* color: var(--color-white); !important; */
}

.Card {
  
}

.App-header {
  
}

.App-link {
  
}


