
:root {
  --color-light-red: #E31C25;
  --color-dark-red: #BB000E;
  --color-white: #FFF;
  --color-black: #222;
}

.App {
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
}

.Card {
  
}

.Card.Body {

}

.App-header {
  
}

.App-link {
  
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.Button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-light-red);
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}