
:root {
  --color-light-red: #E31C25;
  --color-dark-red: #BB000E;
  --color-white: #FFF;
  --color-black: #222;
}

.auth-container {
  background-color: var(--color-white);
  
}

/* .auth body {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 361px;
  flex-shrink: 0;
  background: #FFF;
} */

.button-signin {
  display: flex;
  color: var(--color-white) !important;
  background-color: var(--color-light-red);
  justify-content: center;
  align-items: center;
}

.button-signin.active {
  background-color: var(--color-dark-red);
}

.button-signup {
  display: flex;
  color: var(--color-white) !important;
  background-color: var(--color-dark-red);
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 48px;
  cursor: pointer;
}

.button-signup.active {
  background-color: var(--color-light-red);
}

/* .login-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 361px;
  flex-shrink: 0;
  background: #FFF;
}

.login-button {
  display: flex;
  float: right;
  color: var(--color-white) !important;
  background-color: var(--color-dark-red);
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 34px;
  cursor: pointer;
}
.register-container {

}  */