
:root {
  --color-light-red: #E31C25;
  --color-dark-red: #BB000E;
  --color-white: #FFF;
  --color-black: #222;
}

.custom-button {
  color: var(--color-white) !important;
  background-color: var(--color-light-red);
}